<div id="post_list">
<input type="text" class="search" />
<table>
  <tr>
    <th class="sort" rel="name">Kategori</th>
    <th>Titel</th>
    <th>Inlägg</th>
    <th class="sort" rel="time">Skrivet</th>
    <th>Författare</th>
    <th>Antal kommentarer</th>
  </tr>

<% @posts.each do |post| %>
  <tr class="list">
    <td>
    <span class="name" ><%= post.category.name %></span></td>
    <td><%= link_to post.title, post %></td>
    <td><%= link_to truncate(post.body), post %></td>
    <td class="align_right"><%= distance_of_time_in_words post.created_at, Time.now %> ago</td>
    <td class="align_right"><%= post.user.try :name %></td>
    <td class="align_right"><%= post.comments.count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Vill du skriva ett nytt inlägg?', new_post_path %>
<p>Totalt antal inlägg: <%= Post.count %></p>
</div>
