
<table>
  <tr>
    <th>Kategori</th>
    <th>Titel</th>
    <th>Inl채gg</th>
    <th>Skrivet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.category.name %></td>
    <td><%= post.title %></td>
    <td><%= link_to post.body, post %></td>
    <td><%= distance_of_time_in_words post.created_at, Time.now %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Ta bort inl채gg', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Vill du skriva ett nytt inl채gg?', new_post_path %>
<p>Totalt antal inl채gg: <%= Post.count %></p>
