<p id="notice"><%= notice %></p>
<div id="post">
  <b> <%= @post.category.name %> >> <%= @post.title %></b>
  
<table>
  <tr>
    <th class="show_user"><%= @post.user.try :name %></th>
    <th><%= @post.title %><span id="date_right"><%= @post.created_at %></span></th>
   </tr>
   
   <tr>
	<td class="show_user"><p><b>medlem sedan</b><br /><%= @post.user.try :created_at %></p></td>
	<td><p></p><%= @post.body %></td>
  </tr>
</table>
<span class="endline"></span>
<% if (@post.user_id == session[:user_id]) %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Ta bort inlägg', confirm: 'Are you sure?', method: :delete %>
<% end %>


<h3>Kommentarer: </h3>
<%= render :partial => 'comment', :collection => @post.comments %>

<%= form_for ([@post, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> gjorde att det inte gick att spara din kommentar:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <% end %>
    </div>
  <div class="field">
  <h4>Skriv ett svar!</h4>
    <%= f.label :content %><br />
    <span id="answer"><%= f.text_area :content %></span>
  </div>
 
  <p>
    <%= f.submit "Skicka!" %>
  </p>

<% end %>
<%= link_to 'Tillbaka till alla inlägg', posts_path %>
</div>
