<p id="notice"><%= notice %></p>
<div id="post">
<h2>
  <%= @post.title %>
</h2>

<p>
  <b>postat i kategori:</b>
  <%= @post.category.name %>
  <%= @post.created_at %>
</p>

<p>
  <%= @post.body %>
</p>

<p>
	<b>Skrivet av: </b>
	<%= @post.user.name %>
</p>

<% if (@post.user_id == session[:user_id]) %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Tillbaka till alla inlägg', posts_path %>
<h2>Kommentarer: </h2>
<%= render :partial => 'comment', :collection => @post.comments %>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> gjorde att det inte gick att spara din kommentar:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <% end %>
    </div>
  <%= f.hidden_field :post_id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
  <p>Skriv ett svar!</p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
 
  <p>
    <%= f.submit "Post Comment" %>
  </p>

<% end %>
</div>
