<p id="notice"><%= notice %></p>
<div id="post">
<h2>
  <b>Rubrik:</b>
  <%= @post.title %>
</h2>

<p>
  <b>postat i kategori:</b>
  <%= @post.category.name %>
</p>

<p>
  <%= @post.body %>
</p>

<p>
	<b>Skrivet av: </b>
	<%= @post.user_id %>
</p>

<% if (@post.user_id == session[:user_id]) %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<p>Kommentarer: </p>
<p><%=Comment.where (:post_id == Post.id) %></p>

<%= link_to 'Tillbaka till alla inlägg', posts_path %>
</div>
