<p id="notice"><%= notice %></p>
<div id="post">
  <b> <%= @post.category.name %> >> <%= @post.title %></b>
  
<table>
  <tr>
    <th class="show_user">skrivet av</th>
    <th>inlägg <%= @post.created_at %></th>
   </tr>
   
   <tr>
	<td class="show_user"><p><%= @post.user.try :name %></p><b>medlem sedan</b><% @post.user.try :created_at %></td>
	<td><p><%= @post.title %></p><%= @post.body %><p><%= @post.created_at %></p></td>
  </tr>
</table>
<span class="endline"></span>
<% if (@post.user_id == session[:user_id]) %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Ta bort inlägg', confirm: 'Are you sure?', method: :delete %>
<% end %>

<%= link_to 'Tillbaka till alla inlägg', posts_path %>

<h3>Kommentarer: </h3>
<%= render :partial => 'comment', :collection => @post.comments %>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> gjorde att det inte gick att spara din kommentar:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <% end %>
    </div>
  <%= f.hidden_field :post_id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
  <h4>Skriv ett svar!</h4>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
 
  <p>
    <%= f.submit "Post Comment" %>
  </p>

<% end %>
</div>
